/* Style for Dave Conservatoire Piano */



#keyboard { width:549px; position: absolute; top: 160px; left: 50%; margin-left: -275px;}
#keyboardspacer { height:210px}
.whitenote, .blacknote {position: absolute; background-image: url("images/keyboard_small.png")}
.whitenote {height: 150px; width: 24px}
.blacknote {height: 100px; width: 16px; z-index:1; background-position: -100px 0;}
.white-pressed {background-position: -25px 0;}
.white-red {background-position: -50px 0;}
.white-green {background-position: -75px 0;}
.black-pressed {background-position: -118px 0;}
.whitenote-marker {left:3px;bottom:6px;width:18px;height:20px;background-position:-102px -102px; margin: 120px 0px 0px 3px}
.blacknote-marker {left:1px;bottom:12px;width:14px;height:16px;background-position:-122px -102px; margin: 70px 0px 0px 1px}

.whitenote-marker, .blacknote-marker {background-image: url("images/keyboard_small.png");background-size:168px 152px; }
	